<a href="https://colab.research.google.com/github/KevinMartinez999/OOP-Lab-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [ ]:
#this is a comment
print("Hello World")

Hello World

Python variable Names

In [ ]:
person_a =  "Kev"
print(person_a)

Kev

In [ ]:
#Single variable with multiple values

arrays=[1,2,3]

print(arrays)

[1, 2, 3]

In [ ]:
a= b= c= "Maria"

print(a)
print(b)
print(c)

Maria
Maria
Maria

Casting

In [ ]:
n =int(4)
print(n)

4

Type Function

In [ ]:
c = "Sally"
print (type(c))

<class 'str'>

Double Quote and Single Quote

In [1]:
A = "Sally"
A = 'Sally'
print (A)

Sally

In [2]:
a = 4 
A = "Sally"
print(a)

4

In [4]:
x,y,z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [5]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [6]:
x = "Enjoying"
print("Python programming is "+x)

Python programming is Enjoying

In [8]:
x ="Python is "
y ="enjoying"
z = x + y 
print(z)

Python is enjoying

In [9]:
x = 5

y = 3

print (x + y)

x=5

y=3

sum=x+y

sum

8

8

In [10]:
a,b,c=0,-1,6

c%=3

c

0

In [11]:
a,b,c=0,-1,6

a>b and c>b

True

True

In [12]:
a,b,c=0,-1,5

a is c

False

False