<a href="https://colab.research.google.com/github/KevinMartinez999/OOP-Lab-58001/blob/main/List%2C_Tuple%2C_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [10]:
class Shapes:
  def __init__(self, length, width):
    self.length = length
    self.width =  width
  def area(self):
    return self.length * self.width
rectangle = Shapes(10,5)
rectangle.length
#rectangle

10

In [15]:
class Shapes:
  def __init__(self, side):
    self.side = side
  def Area(self):
    return self.side**2
square = Shapes(5)
square.Area()

25

In [20]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def name_age (self):
    return self.name + self.age

individual = Person("Kevin Martinez ", " 18 years old")
individual.name_age()

'Kevin Martinez  18 years old'

List

In [24]:
pi = 3.14159
varList = ["abc", 1,"def",2]
print(varList[0])

varList.append('ghi')
print(varList)
varList.remove(2)
print(varList)
varList.insert(3,3)
print(varList)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [27]:
students = {
             1:"Ana",
             2:"Billy",
             3:"Butchokoy",
             4:"JM",
             5:"Pudong",



}
print(students)

{1: 'Ana', 2: 'Billy', 3: 'Butchokoy', 4: 'JM', 5: 'Pudong'}