<a href="https://colab.research.google.com/github/KevinMartinez999/OOP-Lab-58001/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop

In [10]:
week =("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statements

In [18]:
week =("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

for x in week:
  if x =="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [32]:
#Display only Tuesday and Wednesday
week =("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

for x in week:
  if x =="Tuesday":
    print(x)
    break

for y in week:
  if  y =="Wednesday":
    print(y)
    break

Tuesday
Wednesday

Looping through a stream

In [35]:
for x in "week":
  print(x)

w
e
e
k

Nested Loops

In [37]:
adjective =("red", "big", "tasty")
fruits =("apple", "banana", "cherry")

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [43]:
i = 1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [46]:
#using break statement
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [48]:
#Print only 3
i = 1
while i<6:
  if i == 3:
    print(i)
    break
  i+=1

3

The Else statement

In [55]:

i = 1
while i<6:
  print(i)
  i+=1
else:
  
  print("is no longer less than 6 ")

1
2
3
4
5
is no longer less than 6

Application 1

In [63]:
i = 0

while i<= 10:
  print("Hello" , i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [60]:
x = 10

while x >= 3:
  print(x)
  x-=1

10
9
8
7
6
5
4
3